.admin {
    font-size: 16px;
}

.add-product input,
.add-product button {
    padding: 10px;
}

.product-list button {
    padding: 5px 10px;
}

.product-list table {
    text-align: center;
  }

.edit,
.delete {
    padding: 0px 6px;
    border-radius: 2px;
}

.edit {
    margin-right: 10px;
}
