.produts-cart-item {
    display: flex;
    border: 1px solid;
    border-color: transparent transparent gray transparent;
    margin-top: 30px;
}

.cart-item-img {
    width: 150px;
    margin-right: 20px;
}

.cart-item-img img {
    width: 100%;
}

.cart-item-infor {
    display: flex;
    justify-content: space-between;
    flex-basis: 77%;
}

.cart-item-total h3 {
    margin-bottom: 15px;
}

.cart-item-total p {
    color: #6d6e6e;
    font-size: 16px !important;
}

.cart-item-total .total_product {
    margin-bottom: 20px;
}

.cart-item-total p:last-child {
    cursor: pointer;
    margin-bottom: 16px;
}

.number_product {
    display: flex;
}

.number_product button {
    padding: 5px 10px;
    background-color: white;
    font-size: 16px;
}

.number_product span {
    padding: 5px 12px;
    border: 2px solid;
    display: flex;
    align-items: center;
    font-size: 16px;
    border-color: black transparent black transparent;
}

.cart-item-price {
    margin-right: 10px;
}

.cart-item-price p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px;
}