body {
    margin: 0;
}

.all {
    display: flex;
}

.div1 {
    height: 400px;
    width: 15%;
    background-color: red;
}

.div2 {
    width: 15%;
    background-color: black;
    order: 2;
}

.div3 {
    height: 200px;
    width: 15%;
    background-color: green;
    /* order: 2; */
}

.div4 {
    height: 200px;
    width: 15%;
    background-color: blue;
}

.div5 {
    height: 200px;
    width: 15%;
    background-color: blueviolet;
}

.div6 {
    height: 200px;
    width: 15%;
    background-color: brown;
}
