/* Câu 1 */
#pond {
    display: flex;
  justify-content: flex-end;
  /* Di chuyển item theo chiều flex (flex theo chiều ngang) đến điểm cuối */
  }

/* Câu 2 */
#pond {
    display: flex;
  justify-content: center;
  /* Căn chỉnh item ra giữa */
  }

/* Câu 3 */
#pond {
    display: flex;
  justify-content: space-around;
  /* giãn cách item ra 2 phía trung bình */
  }

/* Câu 4 */
#pond {
    display: flex;
  justify-content: space-between;
  /* giãn cách item ra 2 phía dính vào lề */
  }

/* Câu 5 */
#pond {
    display: flex;
  align-items: flex-end;
  /* Di chuyển item xuống dưới cùng của flex */
  }

/* Câu 6 */
#pond {
    display: flex;
  justify-content: center;
  align-items: center;
  }

/* Câu 7 */
#pond {
    display: flex;
  justify-content: space-around;
  align-items: flex-end;
  }

/* Câu 8 */
#pond {
    display: flex;
  flex-direction: row-reverse;
   /* Điều chỉnh lại hướng item ngược hướng ban đầu */
  }

/* Câu 9 */
#pond {
    display: flex;
  flex-direction: column;
  /* Đặt các item theo cột */
  }

/* Câu 10 */
#pond {
    display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  }

/* Câu 11 */
#pond {
    display: flex;
  flex-direction: column;
  justify-content: flex-end;
  }

/* Câu 12 */
#pond {
    display: flex;
  flex-direction: column-reverse;
  /* Đặt các item theo cột theo chiều ngược lại với vị trí ban đầu*/
  justify-content: space-between;
  }


/* Câu 13 */
#pond {
    display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: flex-end;
  }


/* Câu 14 */
#pond {
    display: flex;
  }
  
  .yellow {
  order: 1;
  /* Đặt giá trị cho items, giá trị lớn nhất sẽ bị đẩy lùi ra đằng sau cùng (giá trị ban đầu của các items = 0) */
}


/* Câu 15 */
#pond {
    display: flex;
  }
  
  .red {
  order: -1;
  }


/* Câu 16 */
#pond {
    display: flex;
    align-items: flex-start;
  }
  
  .yellow {
  align-self: flex-end;
  /* Chỉnh sửa vị trí giống align-items nhưng với 1 hạng mục riêng */
  }


/* Câu 17 */
#pond {
    display: flex;
    align-items: flex-start;
  }
  
  .yellow {
  order: 1;
  align-self: flex-end;
  }


/* Câu 18 */
#pond {
    display: flex;
  flex-wrap: wrap;
  }
  /* Các hạng mục quấn xung quanh để tạo thêm dòng */


/* Câu 19 */
#pond {
    display: flex;
  flex-direction: column;
  flex-wrap: wrap
  }


/* Câu 20 */
#pond {
    display: flex;
  flex-flow: column wrap;
  }
  /* Thẻ flex-flow là kết hợp của thẻ flex-direction và thẻ flex-wrap */


/* Câu 21 */
#pond {
    display: flex;
    flex-wrap: wrap;
  align-content: flex-start;
  /* Lệnh này dùng để chỉnh vị trí dòng (align-items khác là chỉnh items) */
  }

/* Câu 22 */
#pond {
    display: flex;
    flex-wrap: wrap;
  align-content: flex-end;
  }

/* Câu 23 */
#pond {
    display: flex;
    flex-wrap: wrap;
  flex-direction: column-reverse;
  align-content: center;
  }

/* Câu 24 */
#pond {
    display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-content: space-between;
  }


/* justify-content chỉnh css khối theo chiều ngang
flex-start: Các hạng mục sẽ được sắp xếp về phía bên trái của hộp chứa.
flex-end: Các hạng mục sẽ được sắp xếp về phía bên phải của hộp chứa.
center: Các hạng mục sẽ được sắp xếp ở giữa chính của hộp chứa.
space-between: Các hạng mục sẽ được trình bày với khoảng cách bằng nhau giữa chúng.
space-around: Các hạng mục sẽ được trình bày với khoảng cách bằng nhau xung quanh chúng. */

/* align-items chỉnh css khối theo chiều dọc
flex-start: Các hạng mục sẽ được sắp xếp phía trên của hộp chứa.
flex-end: Các hạng mục sẽ được sắp xếp phía dưới cùng của hộp chứa.
center: Các hạng mục sẽ được sắp xếp ở giữa chính của hộp chứa.
baseline: Các hạng mục sẽ được hiển thị ở đường cơ bản của hộp chứa.
stretch: Các hạng mục sẽ được kéo dài để phù hợp với hộp chứa. */

/* flex-direction chỉnh css hướng và chiều của khối
row: Các hạng mục được đặt cùng hướng với hướng của từ trong văn bản.
row-reverse: Các hạng mục được đặt ngược hướng với hướng của từ trong văn bản.
column: Các hạng mục được đặt từ trên xuống dưới.
column-reverse: Các hạng mục được đặt từ dưới lên trên. */

/* order di chuyển vị trí của phần tử theo giá trị(âm = lùi; dương = tiến) */

/* align-self cũng giống align-items nhưng chỉ css cho 1 phần tử riêng biệt */

/* flex-wrap chỉnh css 
nowrap: Mỗi hạng mục được dồn vào một hàng duy nhất.
wrap: Các hạng mục quấn xung quanh để tạo thêm dòng.
wrap-reverse: Các hạng mục quấn xung quanh để tạo thêm dòng ngược lại. */