/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header {
    height: 48px;
    background-color: #000;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-wrap {
    display: flex;
    align-items: center;
}

.header_search {
    display: flex;
    align-items: center;
    line-height: 16px;
    overflow: hidden;
    height: 48px;
}

.header_search-link {
    text-decoration: none;
    list-style: none;
    padding: 16px 24px;
    cursor: pointer;
    text-align: center;
}

.header_search-link:hover {
    background-color: #ccc;
}

.header_search-link:hover .header_search-item {
    color: #000;
    background-color: #ccc;
}

.header_search-item {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.header-btn {
    padding: 16px 24px;
    position: relative;
}

.header-btn:hover {
    background-color: #ccc;
}

.header-btn-wrap {
    position: relative;
    line-height: 16px;
    padding-right: 10px;
}

.header-btn-item {
    background-color: rgba(0, 0, 0, 0.0);
    color: #FFF;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.header-btn:hover .header-btn-item {
    color: #000;
    background-color: #ccc;
}

.header_btn-arrow {
    color: #FFF;
    top: -3px;
    left: 46px;
    position: absolute;
}

.header-btn:hover .header-btn-wrap .header_btn-arrow{
    color: #000;
}


.header-btn-selection {
    height: 115px;
    width: 160px;
    background-color: #FFF;
    list-style: none;
    position: absolute;
    top: 48px;
    left: 0;
    text-align: left;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header-btn:hover .header-btn-selection {
    display: block;
}

.header-btn-selection-link {
    text-decoration: none;
    color: #000;
}

.header-btn-selection-item:hover {
    background-color: #ccc;
}

.header-btn-selection-item {
    min-width: 160px;
    padding: 8px 16px;
    line-height: 23px;
    font-size: 16px;
}

.header_search-search {
    padding: 16px 24px;
    cursor: pointer;
    line-height: 16px;
}

.header_search-search:hover {
    background-color: #f44336;
}

.menu-mobile {
    padding: 16px 24px;
    cursor: pointer;
    line-height: 16px;
    display: none;
}

.menu-mobile:hover {
    background-color: #ccc;
}

.menu-mobile:hover .menu-icon {
    color: #000;
}

.menu-icon {
    color: #FFF;
}

.menu-mobile--hover {
    display: none;
}    

.header_search-search-icon {
    color: #FFF;
    font-size: 14px;
}

.slider {
    margin-top: 48px;
    padding-top: 50%;
    background-image: url('https://www.w3schools.com/w3images/ny.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}

.slider-note {
    color: #FFF;
    bottom: 52px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.slider-note h3 {
    padding-bottom: 30px;
    font-weight: 400px;
}

.content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
    padding-left: 16px;
    padding-right: 16px;
}

.section-heading {
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
    margin: 10px 0;
    font-weight: 400;
    letter-spacing: 4px; /* khoảng cách giữa các chữ */
}

.section-sub-heading {
    text-align: center; 
    font-size: 15px;
    font-style: italic;
    margin: 15px 0 50px 0;
    opacity: 0.6; /* Tăng giảm độ mờ của chữ */
}

.about--text {
    text-align: justify;
    line-height: 25px;
}

.member {
    display: flex;
    padding: 32px 0;
}

.member-item {
    width: 33.33333%;
    text-align: center;
    float: left;
}

.member-name {
    margin: 15px 0;
}

.member-img {
    width: 60%;
    border-radius: 4px;
}

.section-tour {
    background-color: #000;
}

.section-tour-name {
    color: #FFF;
}

.tour-month {
    background-color: #FFF;
    list-style: none;
    margin-top: 38px;
    margin: 0 8px;
}

.tour-month-date {
    padding: 8px 16px;
    border-bottom: 1px solid #E5E5E5;
    line-height: 22px;
    color: #757575;
}

.tour-slod-out {
    background-color: #F44336;
    color: #FFF;
    padding: 2px 8px;
    margin-left: 15px;
}

.tour-month-icon {
    background-color: #000;
    border-radius: 50%;
    color: #FFF;
    padding: 0 8px;
    float: right;
    margin-right: 16px;
}

.tour-location-list {
    display: flex;
    margin: 30px 0;
}

.tour-location-item {
    width: 33.33333%;
    padding: 0 8px;
    display: grid;
}

.tour-location-img {
    float: left;
    width: 100%;
}

.tour-location-img:hover {
    opacity: 0.6;
}

.tour-location-content {
    background-color: #FFF;
    padding: 0 25px;
}

.tour-location-content-text {
    margin: 15px 0;
    line-height: 25px;
}

.tour-location-content-name {
    margin: 15px 0;
    font-weight: 500;
}

.tour-location-content-date {
    opacity: 0.6;
    margin: 15px 0;
}

.tour-location-content-btn {
    background-color: #000;
    color: #FFF;
    height: 40px;
    width: 108px;
    margin-bottom: 16px;
    cursor: pointer;
    border: none;
}

.tour-location-content-btn:hover {
    background-color: #ccc;
    color: #000;
}

.information {
    display: flex;
}

.contact {
    width: 50%;
}

.contact-location {
    display: flex;
    align-items: baseline;
    padding-bottom: 12px;
}

.contact-location-text {
    font-size: 16px;
    padding-left: 20px;
}

.contact-location-icon {
    padding-right: 4px;
}

.contact-name {
    display: flex;
    margin-bottom: 8px;
}

.contact-name-in4 {
    height: 42px;
    width: 100%;
    margin: 0 8px;
    padding: 8px;
}

.contact-mess {
    margin: 0 8px;
}

.contact-mess-mess {
    height: 42px;
    width: 100%;
    padding: 8px;
}

.contact-btn {
    margin: 16px 8px;
    float: right;
    height: 40px;
    width: 70px;
    background-color: #000;
    color: #FFF;
    border: none;
}

.contact-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.content-img {
    padding-top: 50%;
    background-image: url('https://www.w3schools.com/w3images/map.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    filter: grayscale(50%);
}

.footer {
    margin: 64px 0;
    text-align: center;
    opacity: 0.6;
}

.footer-icon {
    text-align: center;
    font-size: 25px;
    margin: 15px 0;
}

.footer p {
    color: #000;
}
