.search-result {
    width: 368px;
}

.search-input {
    border: 1px solid #cfd5db;
    border-radius: 20px;
    padding: 2px 10px;
    margin-right: 10px;
}

.search-btn {
    font-size: 16px;
}

.wrapper {
    width: 100%;
    background: white;
    box-shadow: rgb(0 0 0 /12%) 0px 2px 12px;
    border-radius: 8px;
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 100px;
    padding-top: 8px;
}

.search-title {
    padding: 0 5px ;
}
