* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 60px;
    max-width: 100%;
    background-color: #34465C;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.header-logo {
    width: 120px;
    padding-left: 15px;
    margin: auto;
}

.header-img {
    max-width: 100%;
}

.header-menu {
    padding-left: 40px;
    align-items: center;
    display: flex;
}

.header-menu-item {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 16px;
}

.fa-sort-down {
    position: relative;
    top: -3px;
    margin-left: 5px;
} 

.fa-shopping-cart {
    color: white;
    font-size: 25px;
    margin-left: 15px;
}