p {
  height: 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  // color: white;
}

a:hover {
    color: blue;
}

.header {
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border: 1px solid ;
}

.header-menu {
  display: flex;
}

.header-menu p {
    padding-right: 26px;
}

