.btn {
    padding: 14px 36px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}

.primary {
    background-color: blue;
    color: white;
}

.dark {
    background-color: black;
    color: white;
}

.danger {
    background-color: red;
    color: yellow;
}


